
@use "hero";
@use "buttons";

@import "color";
@import "font";
@import "spacings";
@import "../mixin/animation";


header{
    background-color: $background;
    padding: $paddingTop $paddingX;
    nav{
        margin-bottom: $marginY;
    h3{
        font-weight: $peso;
    }
    ul{
        list-style: none;
        li{
            a{
            text-decoration: none;
            color: $textColor;
            opacity: $opacita;
            &:hover{
                text-decoration: underline;
            }
        }
        }
    }
}

}

@include animated(bottom ,-50px);