@import "color";
@import "font";
@import "spacings";
@import "../mixin/mixin";
@import "../mixin/animation";

#hero{
    h1{
        @include animationInfo(1s, 1s);
        @include title;
    }
    p{
        color: $textColor;
        opacity: $opacita;
        font-size: $textSize;
    }
    #image{
        @include animationInfo(1s, 0.5s);
    img{
        @include floating(solid , 6px);
        position: absolute;
    }
}


}
